* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0; }

h1 {
  font-size: 3.5em; }

h2 {
  font-size: 2.7em; }

h3 {
  font-size: 2em; }

p {
  font-size: 1.25em; }

button {
  font-size: 1.5em;
  font-weight: bold;
  padding: 20px 40px;
  border-radius: 5px;
  border: 2px solid #f0e2ba;
  background-color: #d4ceb1;
  color: #1a1818;
  box-shadow: 2px 2px 10px #636260; }

button:hover {
  background-color: #f8eeee; }

.contenedor {
  max-width: 1800px;
  margin: auto; }

header {
  background-color: rgba(191, 191, 191, 0.8); }

.logo-header {
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  font-size: 1.55em; }

header .contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: initial; }

header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px; }

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black; }

header a:hover {
  color: aqua; }

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imagenes/banner-heronegro.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

#hero h1 {
  color: white;
  font-size: 5em; }

#somoswarqi .contenedor {
  display: flex;
  justify-content: space-evenly; }

#somoswarqi .somoswarqi-texto {
  width: 50%;
  text-align: center;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center; }

#somoswarqi h2 {
  margin-top: 0; }

@media (min-width: 760px) {
  .img-contenedor {
    background-image: url(/media/imagenes/warqi-somoswarqi.png);
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 500px; } }

#somoswarqi .contenedor {
  text-align: center;
  padding: 200px 12px;
  background-color: rgba(191, 191, 191, 0.697); }

#nuestros-servicios {
  background-color: #1e1e1e;
  color: white;
  text-align: center; }

#nuestros-servicios .contenedor {
  padding: 120px 10px; }

#nuestros-servicios h2 {
  margin-top: 0;
  font-size: 3em; }

#nuestros-servicios p {
  display: block;
  margin-bottom: 80px; }

#nuestros-servicios .carta {
  background-position: center center;
  background-size: cover;
  padding: 80px;
  margin: 20px;
  border-radius: 10px; }

.carta:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/media/imagenes/servicio-integral-hogar.jpeg"); }

.carta:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/media/imagenes-galeria/quince.svg"); }

.carta:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/media/imagenes/mantenimiento-de-hogares.jpeg"); }

#sobre-nosotros .contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(191, 191, 191, 0.697);
  padding: 100px; }

.nosotros-descripcion {
  color: black;
  background-image: linear-gradient(2deg, rgba(220, 219, 219, 0.694), rgba(4, 0, 0, 0.8)), url("/media/imagenes/banner-footer7.png");
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  padding: 80px;
  margin: 50px; }

.nosotros-porque-elegirnos {
  color: white;
  background-image: linear-gradient(8deg, rgba(0, 0, 0, 0.8), rgba(77, 76, 76, 0.8)), url("/media/imagenes/banner-footer8.png");
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  padding: 80px;
  margin: 50px; }

.nosotros-servicios {
  color: black;
  background-image: linear-gradient(2deg, rgba(220, 219, 219, 0.694), rgba(4, 0, 0, 0.8)), url("/media/imagenes/banner-footer7.png");
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  padding: 80px;
  margin: 50px; }

.nosotros-parrafo {
  color: white;
  background-image: linear-gradient(8deg, rgba(0, 0, 0, 0.8), rgba(77, 76, 76, 0.8)), url("/media/imagenes/banner-footer8.png");
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  padding: 80px;
  margin: 50px; }

/* GALERIA */
#seccion-galeria {
  background-color: #1e1e1e;
  text-align: center;
  color: white;
  padding: 20px; }

.galeria {
  background-color: #1e1e1e;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  padding: 20px;
  grid-gap: 10px; }

.grid-item {
  position: relative;
  border-radius: 20px; }

.galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; }

.galeria-titulo {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(47, 46, 46, 0.118), rgba(36, 35, 35, 0.487));
  width: 100%;
  margin: 0;
  padding: 10px; }

.grid-item:nth-child(4) {
  grid-column-start: span 2; }

.grid-item:nth-child(5) {
  grid-row-start: span 2; }

.grid-item:nth-child(9) {
  grid-column-start: span 2; }

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
  transform: rotate(0.3deg) scale(0.9); }

@media (min-width: 720px) {
  header {
    position: absolute;
    width: 100%; }
  header .contenedor {
    flex-direction: row;
    justify-content: space-between; }
  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px; } }

/* contactos */
#contenedor-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em;
  margin: 0px;
  text-align: center;
  max-width: 760px;
  max-height: 1080; }

#contenedor-form h1 {
  font-size: 45px; }

#contenedor-form h3 {
  font-size: 30px; }

#contenedor-form .cont-form {
  color: black;
  background-color: #03030370;
  box-shadow: 0 0 20px rgba(45, 43, 43, 0.564);
  margin: 25px;
  padding: 20px; }

.form-info {
  padding: 10px;
  color: black;
  background-color: #1e1e1d9f;
  border-radius: 5px;
  box-shadow: 0 0 20px #8079757e; }

.form input,
.form button,
.form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  border-bottom: 1px solid white;
  outline: none;
  color: azure; }

form button {
  background: black;
  border: 0;
  text-transform: uppercase;
  padding: 1em; }

/* FOOTER */
footer {
  background-color: rgba(191, 191, 191, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center; }

footer div {
  margin: 5px;
  padding: 10px;
  align-items: center; }

footer a {
  text-decoration: none;
  color: black;
  margin: 3px; }

footer span {
  margin: 3px; }

footer p {
  font-size: 11px; }

footer li {
  margin: 10px; }

@media (min-width: 720px) {
  footer {
    width: 100%;
    flex-direction: row;
    justify-content: space-between; } }
